body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #2c3539 10%, transparent 1px) 15% 15%,
    linear-gradient(to bottom, #2c3539 10%, transparent 1px) 15% 15%,
    linear-gradient(to left, #2c3539 10%, transparent 1px) 85% 85%,
    linear-gradient(to top, #2c3539 10%, transparent 1px) 85% 85%;

  background-repeat: no-repeat;
  background-size: 35% /*width*/ 35% /*height*/;
}
