body {
  margin: 1%;
  border: 30px solid rgb(250, 244, 235);
  border-radius: 0.5vmax;
  padding-block: 2vmax;
  padding-inline: 2vmax;
  /*border-image: url(border-image.png) 30 round;*/
  animation: borderColorAnimation 10s forwards;
  border-image: linear-gradient(45deg, red, blue) 10;
}

@keyframes borderColorAnimation {
  0% {
    border-color: rgb(250, 244, 235);
  }
  100% {
    border-color: rgb(61, 61, 61, 0.671);
  }
}
