body {
  min-height: 100vh;
  margin: 0;
  background-color: #f5f5f5; /*White Smoke*/
  overflow-y: overlay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Varela";
  src: url(Assets/fonts/Varela-Regular.ttf);
}
