body {
  margin: 0;
  background-color: #F5F5F5; /*White Smoke*/
  overflow-y: overlay;
  font-family: "Poppins Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
