.profile-name {
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: #2c3539;
}

.profile-typewriter {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  color: #2c3539;
}

.get-resume {
  font-size: 25px;
}
