.Profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-name {
  font-family: "Moderne Sans", monospace;
  color: #2c3539;
  font-size: 3.85vw;
}

.Typewriter {
  font-family: "Moderne Sans", monospace;
  color: #2c3539;
  filter: opacity(75%);
  font-size: 2vw;
}

/* .profile-tagline {
  display: inline-block;
  align-items: left;
  justify-content: left;
  filter: opacity(75%);
  font-size: 75%;
} */
