.information-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Moderne Sans", monospace;
  color: #2c4549;
  letter-spacing: normal;
}

.information-page h1 {
  font-size: 2vmax;
  line-height: normal;
}

.information-page ul {
  font-size: 1.75vmin;
  line-height: normal;
}

div.information-page p {
  font-size: 1.75vmin;
  line-height: normal;
  filter: opacity(75%);
}
.interests span {
  display: none;
}

div.information-page p:hover + .interests span {
  display: flex;
}
