.nav-bar {
  display: flex;
  justify-content: left;
  position: absolute;
  margin-top: 15vh;
  margin-left: 15vw;
}

.linked-in-btn,
.github-btn,
.thingiverse-btn,
.inbox-btn,
.menu-container {
  align-items: center;
  appearance: none;
  background-color: #f5f5f5;
  border-radius: 0px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #2c3539;
  cursor: pointer;
  display: inline-flex;
  font-family: "Moderne Sans", monospace;
  height: 45px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 25px;
  margin-right: 5px;
}

.linked-in-btn:focus,
.github-btn:focus,
.thingiverse-btn:focus,
.inbox-btn:focus,
.menu-container:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  outline: none;
}

.linked-in-btn:hover,
.github-btn:hover,
.thingiverse-btn:hover,
.inbox-btn:hover,
.menu-container:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
  outline: none;
}

.linked-in-btn:active,
.github-btn:active,
.thingiverse-btn:active,
.inbox-btn:active,
.menu-container:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
  outline: none;
}

.hamburger {
  color: #2c3539;
  border: none;
  align-items: center;
  appearance: none;
  background-color: #f5f5f5;
  border-radius: 0px;
  border-width: 0;
  outline: none;
}

.hamburger:focus {
  outline: none;
}

.menu-items {
  display: none;
  position: relative;
  justify-content: left;
  background-color: #f5f5f5;
  padding: none;
  margin: none;
  list-style: none;
  text-decoration: none;
  color: black;
}

.menu-items a {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: #2c3539;
  filter: opacity(75%);
}

.resume-btn {
  background-color: #f5f5f5;
  /* padding: none;
  border: none;
  margin: none; */
  font-size: 20px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: #2c3539;
  filter: opacity(75%);
}

.menu-container:hover .menu-items {
  display: flex;
}

.menu-items:hover {
  color: #2c3539;
}
.menu-container:hover + .contact-icons {
  display: none;
}
